.login-bar {
    background-color: #666;
    width: 100%;
    height: 60px;
    padding: 0px;
    
}
.login-register {
    
    
    margin: 0px 100px 20px 1250px;
    background-color: #a6a6a6;
    padding: 0em;
    border-radius: 3px;

    
     a {
        font-size: 25px;
        color: whitesmoke;
        text-decoration: none;
    }

}


.login-page {
    align-items: center;
    /*justify-content: center;*/
    /*flex-direction: row ;*/
    background-color: #f2f2f2;

    
    &.loading {
        .login-form {
            transform: scale(0.97);
            filter: blur(2px);
            opacity: 0.8;
        }
    }


    .login-form {
        height:600px;
        display: flex;
        flex-direction: column;
        width: 600px;
        background-color: #01D196;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 0 20px 200px #01D196;
        transform: scale(1);
        filter: blur(0);
        transition: transform 150ms ease-out, filter 150ms ease-in-out;

        h1 {
            margin: 0 0 0.5em;
            padding: 0;
            color: white;
            font-weight: normal;
        }

        p {
            font-size: 1em;
            color: whitesmoke;
            margin: 0 0 0.5em;
            &:last-child {
                color: black;
            }
        }

        button,
        input {
            padding: 0.5em 1em;
            font-size: 1em;
            margin: 0 0 0.5em;
            border: 0;
            border-radius: 2px;

            &:last-child {
                margin: 0;
            }
        }

        .error {
            background-color: rgba(white, 0.8);
            color: orangered;
            margin: 0.5em 0;
            padding: 0.5em;
        }
    }

    .site-details {
        border-radius: 20px;


        img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

    }


}