.login-page {
    align-items: center;
    justify-content: center;
    flex-direction: row ;

    
    &.loading {
        .login-form {
            transform: scale(0.97);
            filter: blur(2px);
            opacity: 0.8;
        }
    }

    .login-form {
        width: 500px;
        height: 320px;
        display: flex;
        flex-direction: column;
        margin: 0;
        background-color: #01D196;
        padding: 1em;
        border-radius: 2px;
        box-shadow: 0 20px 200px #01D196;
        transform: scale(1);
        filter: blur(0);
        transition: transform 150ms ease-out, filter 150ms ease-in-out;

        .pRegister {
            text-align: center;
            padding: 15px;
            a {
                text-decoration: none;
            }
        }

        h1 {
            margin: 0 0 0.5em;
            padding: 2px;
            color: white;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 1em;
            color: whitesmoke;
            margin: 0 0 0.5em;
            &:last-child {
                color: black;
            }
        }

        button,
        input {
            padding: 0.5em 1em;
            font-size: 1em;
            margin: 0 0 0.5em;
            border: 0;
            border-radius: 2px;

            &:last-child {
                margin: 0;
            }
        }
    }

    .error {
            background-color: rgba(#eee, 0.8);
            position: fixed;
            top: 0;
            right: 0;
            transition: transform 150ms ease-out, filter 150ms ease-in-out;
            color: orangered;
            margin: 0.5em 0;
            padding: 0.5em;
        }

    .fadein {
        from {opacity: 0;}
        to {opacity: 1 ;}
    }
}