.catalog-coloana{
    display: flex;
	flex-direction: column;
	width: 100%;

        h3{
			border: 1px solid black;
			margin: 0;
			font-size: 30px;
			text-align: center;
            padding: 40px;
            background-color: #01D169;
		}
}