.profile-component {
    display: flex;
    flex-direction: column;
    background-color: #333;
    height: 100%;

    .image {
        width: 100%;
    }

    .details {
        background-color: rgba(0, 0, 0, 0.25);
        color: #bbb;
        padding: 0.5em;

        .name {
            font-size: 1.25em;
            font-weight: lighter;
            margin: 0 0 0.5em;
            text-transform: capitalize;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .school-class {
            font-size: 0.8em;
            margin: 0 0 0.5em;
            color: #999;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        padding: 0.5em;

        button {
            margin: 0 0 0.5em;
            background-color: transparent;
            color: #999;
            font-size: 0.8em;
            text-align: left;
        }
    }
}