.notes-content-component {
	background-color: #efef90;
	max-width: 200px;
	min-width: 200px;
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 5px;
	border-bottom-right-radius: 15%;
	box-shadow: 10px 10px 5px grey;
	border: 1px solid black;

	.TopContent {
		display: flex;
		flex-direction: row;
		width: 100%;
		background-color: #f3ae77;
		border-bottom: 1px solid black;
		height: 50px;
		
		.NotesTitle {
			display: flex;
			width: 100%;
			background-color: #f3ae77;
			
			h {
			color: black;
			}	
		}

		.TopButtons {
			display: flex;
			flex-direction: row;
			
			.CloseButton, .MaximizeButton{
				font-size: 14px;
				width: 35px;
				height: 35px;
				font-family: sans-serif;
				margin-right: -10px;
				margin-top: -10px;
				color: #f00;
				border-radius: 50%;
				background-color: #444;
				outline: none;
				cursor: pointer;
			}
			
			.MaximizeButton {
				margin-right: 2px;
			}
		}	
	}

	.NotesText {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-bottom: 7px;
		overflow: hidden;

		p {
			font-family: sans-serif;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}