.slider-wrap {
    display: flex;
    flex-direction: row;


    .slider {
        display: flex;
        flex-basis: auto;
        flex-grow: 1;
        flex-wrap: wrap;
        overflow: hidden;
        min-width: 200px;
        max-width: 900px;
        .track {
            display: flex;
            flex-direction: row;
            width: 100%;
            transform: translateX( 0px);
            button {
                min-width: 100px;
                margin: 0;
                font-size: 15px;
                cursor: pointer;
            }
            button:hover{
                background-color: grey;
                
            }
        }
    }
}