.friends-component {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    height: 100%;
    flex: 1;

    input{
        margin: 0 1em;
        border-radius: 2px;
        border: 0;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 0.5em 1em;
        font-size: 1em;

        &:focus {
            background-color: rgba(255, 255, 255, 1);
            outline: none;
        }
    }
}