.catalog-absente {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	.container {
		display: flex;
		flex-direction: column;
		
		.showAbsBtn{
			position: absolute;
			right:0;
			top: 0;
			background-color: #01D169;
			color:black;
			font-size: 20px;
			font-weight: bold;
			width: 40px;
		}
		.table-absente {
			margin: 0 auto;
			display: flex;
			height: auto;
			padding: 100px;
			h3 {
				border: 1px solid black;
				margin: 0;
				font-size: 30px;
				text-align: center;
				padding: 40px;
			}
			.table-head {
				h3 {
					background: #fff;
				}
			}
		}
	}
}