.catalog-absente {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;

	.table-absente {
		margin: 0 auto;
		display: flex;
		height: auto;
		padding: 100px;

		h3{
			border: 1px solid black;
			margin: 0;
			font-size: 30px;
			text-align: center;
			padding: 40px;
		}
		.table-head {
			h3 {
				background: #fff;
			}
		}
		.table-text {
			h3 {
				background: red;
			}
		}
	}
}