.catalog-prof {
	display: flex;
	flex-direction: row;
	margin-top: 3px;
	width: 100%;

	.TipElev, .TipDetalii, .SelectieNota, .Bday {
		display: flex;
		flex: 1;
	}

	.Attachment {
		display: flex;
	}

	.ADD {
		background-color: #444;
		color: #f9f9f9;
	}
}